.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  z-index: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  border-bottom: 1px solid transparent;
}

.close-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.close-button:hover {
  transform: rotate(180deg);
}

.modal-content {
  padding-inline: 15px;
}
